/****
 * Padrões do Site
 *****/
:root {
    --branco: #FFF;
    --laranja: #2d5eb3;
    --cinza: #515151;
    --cinzaEscuro: #757575;
    --cinzaMedio: #686868;
    --cinzaClaro: #E9E9E9;
    --cinzaBranco: #F6F6F6;
}
body { font-family: 'Axiforma' !important; }
i { font-style: italic; }
b { font-weight: 700; }
svg { display: block; width: 48px; height: 48px; }

/*h1 { font-size: clamp(1.875em, 4em, 4em); }*/
/*h1 { font-size: clamp(30px, 1px + 63px, 64px); }*/
h1 { font-size: clamp(1.75rem, 1.0674rem + 3.413vw, 3.625rem); /* 58px - 28px */ }
h2 {}
h3 {}

h4 { font-size: clamp(1.25rem, 0.7039rem + 2.7304vw, 2.75rem); } /* 44px - 20px */
h5 { font-size: clamp(1.125rem, 0.943rem + 0.9101vw, 1.625rem); } /* 26px - 18px */
h6 { font-size: clamp(1rem, 0.818rem + 0.9101vw, 1.5rem); } /* 24px - 16px */

.f185 { font-size: 11.5625rem; }
.f44 { font-size: clamp(1.5rem, 1.0449rem + 2.2753vw, 2.75rem); } /* 44px - 24px */
.f40 { font-size: clamp(1.375rem, 0.9654rem + 2.0478vw, 2.5rem); } /* 40px - 22px */
.f27 { font-size: clamp(1.25rem, 1.0907rem + 0.7964vw, 1.6875rem); } /* 27px - 20px */
.f24 { font-size: clamp(1.125rem, 0.9885rem + 0.6826vw, 1.5rem); } /* 24px - 18px */
.f18 { font-size: 18px; }
.f16 { font-size: clamp(1rem, 1rem + 0vw, 1rem); } /* 16px - 16px */
.f15 { font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem); } /* 15px - 15px */
.f14 { font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem); } /* 14px - 14px */
.f13 { font-size: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem); } /* 13px - 13px */


.c-branco { color: var(--branco); fill: var(--branco); }
.c-cinza { color: var(--cinza); fill: var(--cinza); }
.c-cinzaescuro { color: var(--cinzaEscuro); fill: var(--cinzaEscuro); }
.c-cinzaMedio { color: var(--cinzaMedio); fill: var(--cinzaMedio); }
.c-cinzaClaro { color: var(--cinzaClaro); fill: var(--cinzaClaro); }
.c-cinzaBranco { color: var(--cinzaBranco); fill: var(--cinzaBranco); }
.c-laranja { color: var(--laranja); fill: var(--laranja); }
.bg-branco { background: var(--branco); }
.bg-cinza { background: var(--cinza); }
.bg-cinzaescuro { background: var(--cinzaEscuro); }
.bg-cinzaMedio { background: var(--cinzaMedio); }
.bg-cinzaClaro { background: var(--cinzaClaro); }
.bg-cinzaBranco { background: var(--cinzaBranco); }
.bg-laranja { background: var(--laranja); }

.lh20 { line-height: 20px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh28 { line-height: 28px; }
.lh30 { line-height: 30px; }
.lh48 { line-height: 48px; }
.lh54 { line-height: 54px; }

.w300 { font-weight: 300; }
.w400 { font-weight: 400; }
.w500 { font-weight: 500; }
.w600 { font-weight: 600; }
.w700 { font-weight: 700; }
.w800 { font-weight: 800; }

.transitions { -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.border-transparent { border: transparent; }
.border-branco { border: 1px solid var(--branco); }
.border-laranja { border: 1px solid var(--laranja); }
.border-cinzaClaro { border: 1px solid var(--cinzaClaro); }

.border-radius-circle { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.border-radius-0 { -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; border-radius: 0px !important; }
.border-radius-8 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.border-radius-15 { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.border-radius-20 { -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }

.shadowText { text-shadow: 2px 2px 3px rgba(150, 150, 150, 1); }
.shadowText-light { text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.5); }
.shadowText-preto { text-shadow: 2px 2px 3px rgba(0, 0, 0, 1); }

.shadowBox { -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.text-indent { text-indent: 20px; }

.limitaTexto { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; }
.linhas-2 { -webkit-line-clamp: 2; }

@keyframes fixedAnim {
  from { top: -50px; }
  to { top: 0; }
}

#btnWhatsApp { width: 60px; height: 60px; padding: 10px; text-align: center; position: fixed; bottom: 150px; right: 40px; font-size: 40px; color: #FFF; background-color: #25D366; border-radius: 50px; box-shadow: 1px 1px 2px #888; z-index: 100000000; }

.titulo .barra { display: block; width: 2px; height: 90px; margin: 0px 20px 0px 8px; }
.titulo .barra .bolinha { display: block; width: 16px; height: 16px; position: relative; left: -7px; animation: bolinha 3s linear 1s 1 forwards; }
@keyframes bolinha {
    0%   { top: 0px; }
    100% { top: 70px; }
}

.topoInterna { width: 100%; height: 244px; background: url('../img/bg-topoInterna.png') no-repeat top center / cover; }

.nav-item a { padding-top: 12px; text-decoration: none; outline: none; opacity: 1; }
.nav-item a:hover { color: var(--laranja); opacity: 0.5; transition: opacity .2s ease-out; -moz-transition: opacity .2s ease-out; -webkit-transition: opacity .2s ease-out; -o-transition: opacity .2s ease-out; }
.navbar { margin: 0 auto; position: absolute; top: 46px; left: 0px; right: 0px; background: var(--branco); transition: all .5s; z-index: 99999; }
.fixed-navbar { padding: 10px 0px; position: fixed !important; top: 0; left: 0px; right: 0px; animation-name: fixedAnim; animation-duration: 1s; animation-fill-mode: forwards; }
.fixed-navbar a {}
.fixed-navbar a:hover { color: var(--laranja); }
.navbar .nav-item ul.linksinternos { width: 150px; position: absolute; background: var(--branco); }
.navbar .nav-item ul.linksinternos li a.nav-link { text-align: left; }
.navbar .cadastrar { padding: 12px 12px 10px 12px; }
.navbar .cadastrar:hover { color: var(--laranja); background: var(--branco); }

#topo { margin-bottom: 116px; }
#topo .telefone i { position: relative; top: 2px; font-size: 20px; }
#topo .integrador:hover { color: var(--branco); background: var(--laranja); }
#topo .redesSociais a { width: 26px; height: 26px; }
#topo .redesSociais a.facebook { padding: 5px 8px; }
#topo .redesSociais a.instagram { padding: 5px 6px; }
#topo .redesSociais a.twiiter { padding: 5px; }
#topo .redesSociais a:hover { background: var(--laranja); }
#topo .redesSociais a:hover i { color: var(--branco); }
#topo .linguas {}
#topo .linguas a { width: 30px; height: 30px; }
#topo .linguas img { position: relative; top: -4px; }


#banner { height: 791px; position: relative; }
#banner .imagem { padding: 10% 0px; }
#banner video { width: 100vw; height: 790px; object-fit: cover; position: absolute; top: 0px; left: 0; z-index: -5; }
#banner .titulo { position: relative; top: 35px; background: rgba(0, 0, 0, 0.45); }
#banner .titulo p.line { width: 92px; height: 5px; position: relative; top: -10px; }
#banner .kit-01 { position: relative; text-align: center; }
#banner .kit-01 img.suporteEsquerdo { position: absolute; bottom: 0px; left: 8px; z-index: 3; }
#banner .kit-01 img.inversorEsquerdo { margin-bottom: -205px; margin-right: -55px; position: relative; z-index: 0; }
#banner .kit-01 img.caboVermelho { position: absolute; bottom: 10px; left: 210px; z-index: 3;}
#banner .kit-01 img.moduloEsquerdo { margin-right: -35px; position: relative; bottom: -20px; z-index: 1; }
#banner .kit-01 img.moduloCentral { position: relative; z-index: 2; }
#banner .kit-01 img.moduloDireito { margin-left: -35px; position: relative; bottom: -20px; z-index: 1; }
#banner .kit-01 img.caboPreto { position: absolute; bottom: 10px; right: 210px; z-index: 3;}
#banner .kit-01 img.inversorDireito { margin-bottom: -205px; margin-left: -55px; position: relative; z-index: 0; }
#banner .kit-01 img.suporteDireito { position: absolute; bottom: 0px; right: -20px; z-index: 3; }
#banner img.bannerRodape { position: absolute; bottom: 0px; z-index: -2; }

#categorias a .box { overflow: hidden; }
#categorias a:hover .box {}
#categorias a .box img { position: relative; z-index: 1; -moz-transform: scale(1.0); -webkit-transform: scale(1.0); transform: scale(1.0); }
#categorias a:hover .box img { -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }
#categorias a .box .icone { margin-top: -50px; position: relative; z-index: 2; }
#categorias a:hover .box .icone { background: var(--laranja); }
#categorias a:hover .box .icone svg { fill: var(--branco); }
#categorias a .box hr { display: block; width: 70%; height: 5px; margin: 0 auto; background: transparent; border: none; }
#categorias a:hover .box hr { display: block; width: 70%; height: 5px; margin: 0 auto; background: var(--laranja); }

#plataforma { margin-top: -87px; padding: 260px 0px 285px 0px; background: url('../img/bg-plataforma.jpg') no-repeat top center / cover; z-index: -1; }
#plataforma .box .titulo { overflow: hidden; }
#plataforma .box .texto span { width: 10px; height: 10px; position: relative; top: 6px; }

/*#video { height: 86vh; }*/
/*#video button { position: absolute; bottom: 15px; right: 15px; }*/

#video { position: relative; }
#video video { width: auto; min-width: 100%; height: auto; min-height: 100%; background: url('images/poster.html') no-repeat; background-size: cover; transition: 1s opacity; z-index: -100; }
#video button { position: absolute; top: 15px; right: 15px; }

#vantagens { width: 100%; height: 100%; position: relative; background-color: #FFF; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
#vantagens .titulo { position: relative; z-index: 9999; }
#vantagens .titulo .bkgnd { display: block; width: 500px; height: 168px; margin: -148px auto 0 auto; }
#vantagens .particles-js-canvas-el { width: 1920px !important; height: 3550px !important; position: absolute; top: 0px; }
#vantagens .box { position: relative; overflow: hidden; z-index: 9999; }
#vantagens .box .caixa { position: absolute; top: -28.5%; }
#vantagens .box .vs-01 { width: 100%; height: clamp(24.375rem, 2.3958rem + 29.3056vw, 37.5625rem); background: url('../img/vantagens/vs-01.png') no-repeat top right / contain; }
#vantagens .box .vs-01 .caixa { position: relative; top: clamp(3.4375rem, -9.1667rem + 16.8056vw, 11rem); }
#vantagens .box .vs-02 { width: 100%; height: clamp(24.375rem, 2.3958rem + 29.3056vw, 37.5625rem); background: url('../img/vantagens/vs-02.png') no-repeat top left / contain; }
#vantagens .box .vs-02 .caixa { position: relative; top: clamp(4.0625rem, -7.6042rem + 15.5556vw, 11.0625rem); }
#vantagens .box .vs-03 { width: 100%; height: clamp(24.375rem, 2.3958rem + 29.3056vw, 37.5625rem); background: url('../img/vantagens/vs-03.png') no-repeat top right / contain; }
#vantagens .box .vs-03 .caixa { position: relative; top: clamp(4.0625rem, -7.6042rem + 15.5556vw, 11.0625rem); }
#vantagens .box .vs-04 { width: 100%; height: clamp(24.375rem, 2.3958rem + 29.3056vw, 37.5625rem); background: url('../img/vantagens/vs-04.png') no-repeat top left / contain; }
#vantagens .box .vs-04 .caixa { position: relative; top: clamp(4.0625rem, -7.6042rem + 15.5556vw, 11.0625rem); }
#vantagens .financiamento { height: 681px; position: relative; background: url('../img/bg-investimento.png') no-repeat top center / cover; z-index: 9999; }
#vantagens .financiamento svg { width: 190px; height: 190px; }
#vantagens .financiamento .imagens { width: 50%; height: 50px; float: left; }

.bgDuplo { max-width: 1920px; height: 1230px; background: url('../img/bg-integrador-parceiros.png') no-repeat top center; }
#integrador .texto span { width: 10px; height: 10px; position: relative; top: 6px; }
#integrador .botao .btnBotao:hover { color: var(--laranja); background: var(--cinza); }
#parceiros hr { width: 86%; height: 2px; margin: 0 auto; border-bottom: none; }

#informativos a { position: relative; overflow: hidden; }
#informativos a .imagem { width: 100%; height: 356px; -moz-transform: scale(1.0); -webkit-transform: scale(1.0); transform: scale(1.0); }
#informativos a .noticia { position: absolute; bottom: 0px; left: 0px; right: 0px; background: rgba(0, 0, 0, 0.6); }
#informativos a:hover .imagem { -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }
#informativos .botao .btnBotao { height: 356px; }
/*#informativos .botao .btnBotao p.plus { position: absolute; top: 70px; left: 0px; right: 0px;  }
#informativos .botao .btnBotao p.plus span { margin-top: -30px; }*/
#informativos .botao .btnBotao:hover { color: var(--laranja); background: var(--branco); }

.btn {
    height: 76%;
}
/*
.btn {
    height: 114px;
}
*/

#rodape .newsletter .form-control:focus { border-color: var(--cinza); box-shadow: none; }
#rodape .newsletter form { position: relative; }
#rodape .newsletter form input { width: 87%; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; -moz-border-radius-topright: 0px; -moz-border-radius-bottomright: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
#rodape .newsletter form button { width: 13%; position: absolute; bottom: 0px; right: 15px; -webkit-border-top-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-topleft: 0px; -moz-border-radius-bottomleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
#rodape .newsletter form button i { position: relative; top: 2px; }
#rodape .newsletter form button:hover { background: var(--laranja); }
#rodape .newsletter form button:hover i { color: var(--cinzaClaro); }

#rodape .redesSociais a { width: 35px; height: 35px; }
#rodape .redesSociais a.facebook { padding: 10px 12px; }
#rodape .redesSociais a.instagram { padding: 10px; }
#rodape .redesSociais a.twiiter { padding: 10px; }
#rodape .redesSociais a:hover { background: var(--laranja); }
#rodape .redesSociais a:hover i { color: var(--branco); }
#rodape ul { width: 50%; float: left; }
#rodape ul a:hover { color: var(--cinza); }


#institucional .corpo .texto span { width: 7px; height: 7px; position: relative; top: 6px; }

#informativo .botao i { position: relative; top: 2px; }
#informativo .botao:hover a { color: var(--laranja); background: var(--branco); }
#informativo .texto a:hover { color: var(--laranja); }
#outrosInformes .titulo hr { margin-top: -22px; border-top: 2px solid var(--cinza); }
#outrosInformes a { position: relative; overflow: hidden; }
#outrosInformes a .imagem { width: 100%; height: 356px; -moz-transform: scale(1.0); -webkit-transform: scale(1.0); transform: scale(1.0); }
#outrosInformes a .noticia { position: absolute; bottom: 0px; left: 0px; right: 0px; background: rgba(0, 0, 0, 0.6); }
#outrosInformes a:hover .imagem { -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }

#categoria { height: 660px; position: relative; }
#categoria .image { width: 100%; height: 416px; }
#categoria .backgroundTopo { width: 100%; height: 244px; background: url('../img/parceiros/bg-topoBanner.png') no-repeat bottom center / cover; }
#categoria .ico { width: 125px; height: 125px; position: relative; bottom: 315px; left: 0px; right: 0px; }
#categoria .ico svg { width: 77px; height: 77px; }
#categoria .titulo { position: absolute; bottom: 50px; left: 0px; right: 0px; }


#parceiros .marcas li .nav-link { padding-bottom: 20px; border-bottom: 2px solid transparent; }
#parceiros .marcas li .nav-link.active { background: var(--branco); border-bottom: 2px solid #CCC; }

#confira .categoria a:hover { color: var(--laranja); }
#confira .categoria i { padding-top: 4px; font-size: 8px; }
#confira .categoria i:last-child { display: none; }


/*#produtos { padding-top: 265px; background: url('../img/bg-topoProdutos.png') no-repeat top center / contain; }*/
#produtos { height: 660px; background: url('../img/bg-topoProdutos.png') no-repeat top center / cover; }
#produtos .categorias { position: relative; top: 230px; }

#produtos a.active { background: transparent; }
#produtos a .box { overflow: hidden; }
#produtos a:hover .box {}
#produtos a .box img { position: relative; z-index: 1; -moz-transform: scale(1.0); -webkit-transform: scale(1.0); transform: scale(1.0); }
#produtos a.active .box img,
#produtos a:hover .box img { -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); }
#produtos a .box .icone { margin-top: -50px; position: relative; z-index: 2; }
#produtos a.active .box .icone,
#produtos a:hover .box .icone { background: var(--laranja); }
#produtos a.active .box .icone svg,
#produtos a:hover .box .icone svg { fill: var(--branco); }
#produtos a .box hr { display: block; width: 70%; height: 5px; margin: 0 auto; background: transparent; border: none; }
#produtos a.active .box hr,
#produtos a:hover .box hr { display: block; width: 70%; height: 5px; margin: 0 auto; background: var(--laranja); }

#marcas .corpo .lg-item-10 { margin-left: 16.6666%; }

#contato .corpo .linha { display: block; width: 2px; height: 500px; margin: -80px auto 0px auto; background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(255,255,255,0) 100%); }
#franquias svg { width: auto; height: auto; }
#franquias .seletorCombo { width: 80%; height: 50px; }
#franquias .listaFranquias hr.linha { height: 2px; border: none; background: rgb(247,159,21); background: radial-gradient(circle, rgba(247,159,21,1) 0%, rgba(247,159,21,0) 100%); }
#franquias .listaFranquias hr.linha:last-of-type { display: none; }
#franquias .listaFranquias a:hover { color: var(--laranja); background: var(--branco); }

@media (min-width: 320px) and (max-width: 767.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #plataforma { background: url('../img/bg-plataforma-lg.jpg') no-repeat top center / contain; }
    #vantagens .box .vs-01 { width: 100%; min-height: 300px; max-height: 424px; background: url('../img/vantagens/vs-01-lg.png') no-repeat top right / contain; }
    #vantagens .box .vs-01 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-02 { width: 100%; min-height: 300px; max-height: 424px; background: url('../img/vantagens/vs-02-lg.png') no-repeat top left / contain; }
    #vantagens .box .vs-02 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-03 { width: 100%; min-height: 300px; max-height: 424px; background: url('../img/vantagens/vs-03-lg.png') no-repeat top right / contain; }
    #vantagens .box .vs-03 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-04 { width: 100%; min-height: 300px; max-height: 424px; background: url('../img/vantagens/vs-04-lg.png') no-repeat top left / contain; }
    #vantagens .box .vs-04 .caixa { position: relative; top: 0px; }
    #vantagens .financiamento { height: 410px; background: url('../img/bg-investimento.png') no-repeat top right / cover; }
    .bgDuplo { position: relative; height: auto; background: none; }
    #integrador { width: 100%; height: clamp(51.5rem, -1.215rem + 85.0242vw, 62.5rem); background: url('../img/bg-integrador-parceiros-lg.png') no-repeat top center / cover; }

    #marcas .corpo .item-10 { margin-left: 16.6666%; }

    #produtos .categorias { position: relative; top: 270px; }
    #produtos .categorias li { width: 20%; }
    #produtos ul.parceiros li { margin-top: 50px; }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar ul.navbar-nav { display: inline-block; margin: 0px; width: 100%; }
    .navbar ul.navbar-nav  li.nav-item { margin:  0px 15px; float: left; }
    #banner .titulo p.line { top: -6px; }
    #banner { height: 700px; }
    #banner video { height: 700px; }
    #banner .kit-01 img { max-width: 20%; }
    #banner .kit-01 img.moduloCentral { max-width: 30%; }
    #banner .kit-01 img.moduloEsquerdo,
    #banner .kit-01 img.moduloDireito { max-width: 25%; }
    #banner .kit-01 img.suporteEsquerdo { bottom: -20px; left: -35px; }
    #banner .kit-01 img.suporteDireito { bottom: -20px; Right: -35px; }
    #banner .kit-01 img.caboVermelho { bottom: 0px; left: 145px; }
    #banner .kit-01 img.caboPreto { bottom: 0px; Right: 145px; }
    #categorias .mobile { max-width: 640px; margin: 0 auto; }
    #categorias .mobile .owl-nav  button { margin: 0px !important; border: 1px solid var(--laranja); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button span { padding: 0px 22px; font-size: 65px; color: var(--laranja); background: var(--branco); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button.owl-prev { position: absolute; top: 35%; left: -64px; }
    #categorias .mobile .owl-nav  button.owl-next { position: absolute; top: 35%; right: -64px; }

    #plataforma { margin-top: -105px; padding: 20% 0px 65% 0px; background: url('../img/bg-plataforma-md.jpg') no-repeat top center / cover; }

    #video { min-height: 392px; }

    #vantagens .box .vs-01 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-01-md.png') no-repeat top right / contain; }
    #vantagens .box .vs-01 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-02 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-02-md.png') no-repeat top left / contain; }
    #vantagens .box .vs-02 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-03 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-03-md.png') no-repeat top right / contain; }
    #vantagens .box .vs-03 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-04 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-04-md.png') no-repeat top left / contain; }
    #vantagens .box .vs-04 .caixa { position: relative; top: 0px; }

    #vantagens .financiamento { background: none; }
    #vantagens .financiamento .icone { position: absolute; top: 0px; left: 50%; }
    #vantagens .financiamento svg { width: 90px; height: 90px; }
    .bgDuplo { position: relative; background: none; }
    #integrador { width: 100%; height: clamp(34.5625rem, 20.141rem + 30.0448vw, 38.75rem); background: url('../img/bg-integrador-parceiros-md.png') no-repeat top center / cover; }

    #institucional .corpo .texto img { width: 300px; }

    #produtos .categorias { position: relative; top: 290px; }
    #produtos .categorias li { width: 20%; }
    #produtos .categorias li a { padding: 0px; }
    #produtos .parceiros li { margin-top: 50px; }


    #marcas .corpo .lg-item-10 { margin-left: 0%; }
    #marcas .corpo .sm-item-11 { margin-left: 25%; }

    #informativo .texto img { max-width: 50%; }

    #contato .endereco { margin-top: 50px; }
    #contato .endereco .imagem { float: left; }
    #contato .endereco .linha { height: 300px; margin: -15px 30px 0px 30px; float: left; }
    #contato .endereco .texto { float: left; }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #topo .box { display: block !important; }
    .navbar { top: 103px; }
    .navbar-collapse ul.navbar-nav { margin: 0px; text-align: center; }
    .navbar .nav-item ul.linksinternos { width: 100%; position: initial; }
    .navbar .nav-item ul.linksinternos li a.nav-link { text-align: center; }

    #banner { height: 600px; }
    #banner video { height: 600px; }
    #banner .kit-01 img { max-width: 20%; }
    #banner .kit-01 img.moduloCentral { max-width: 30%; }
    #banner .kit-01 img.moduloEsquerdo,
    #banner .kit-01 img.moduloDireito { max-width: 25%; }
    #banner .kit-01 img.inversorEsquerdo { margin-bottom: -205px; margin-right: -35px; }
    #banner .kit-01 img.inversorDireito { margin-bottom: -205px; margin-left: -35px; }
    #banner .kit-01 img.suporteEsquerdo { bottom: -20px; left: -20px; }
    #banner .kit-01 img.suporteDireito { bottom: -20px; Right: -20px; }
    #banner .kit-01 img.caboVermelho { bottom: 0px; left: 120px; }
    #banner .kit-01 img.caboPreto { bottom: 0px; Right: 120px; }

    #categorias .mobile { max-width: 440px; margin: 0 auto; }
    #categorias .mobile .owl-nav  button { margin: 0px !important; border: 1px solid var(--laranja); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button span { padding: 0px 22px; font-size: 65px; color: var(--laranja); background: rgba(256, 256, 256, 0.8); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button.owl-prev { position: absolute; top: 38%; left: -64px; }
    #categorias .mobile .owl-nav  button.owl-next { position: absolute; top: 38%; right: -64px; }

    #plataforma { margin-top: -105px; padding: 20% 0px 75% 0px; background: url('../img/bg-plataforma-md.jpg') no-repeat top center / cover; }

    #vantagens .box .vs-01 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-01-sm.png') no-repeat top right / contain; }
    #vantagens .box .vs-01 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-02 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-02-sm.png') no-repeat top left / contain; }
    #vantagens .box .vs-02 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-03 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-03-sm.png') no-repeat top right / contain; }
    #vantagens .box .vs-03 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-04 { width: 100%; min-height: 500px; max-height: 550px; background: url('../img/vantagens/vs-04-sm.png') no-repeat top left / contain; }
    #vantagens .box .vs-04 .caixa { position: relative; top: 0px; }

    #vantagens .financiamento { background: none; }
    #vantagens .financiamento .icone { position: absolute; top: 0px; left: 50%; }
    #vantagens .financiamento svg { width: 90px; height: 90px; }
    .bgDuplo { position: relative; background: none; }
    #integrador { width: 100%; height: clamp(34.5625rem, 21.9342rem + 35.0785vw, 38.75rem); background: url('../img/bg-integrador-parceiros-sm-02.png') no-repeat top center / cover; }
    #rodape .logoRodape { text-align: center; }

    #produtos { height: 580px; background: none; }
    #produtos .categorias { top: 25px; }
    #produtos .categorias li { width: 33.3333%; }
    #produtos .categorias li a { padding: 0px; }

    #marcas .parceiros .imagem { width: 25%; margin-bottom: 30px; }

    #marcas .corpo .lg-item-10 { margin-left: 0%; }
    #marcas .corpo .sm-item-11 { margin-left: 25%; }

    #contato .endereco { margin-top: 50px; }
    #contato .endereco .imagem { width: 40%; margin-right: 5%; float: left; }
    #contato .endereco .texto { width: 55%;float: left; }

    #institucional .corpo .texto img { width: 54%; }

    #franquias .listaFranquias { height: 600px !important; }
}
@media (min-width: 320px) and (max-width: 575.98px) {
    .titulo .barra { height: 55px; margin: 0px 10px 0px 5px; }
    .titulo .barra .bolinha { width: 10px; height: 10px; left: -4px; }
    @keyframes bolinha {
        0%   { top: 0px; }
        100% { top: 45px; }
    }

    #topo { margin-bottom: 92px; }
    #menu .navbar-brand { margin-left: 15px; }
    .navbar .nav-item ul.linksinternos { width: 100%; margin: 0px; position: initial; }
    .navbar .nav-item ul.linksinternos li a.nav-link { text-align: right; }
    #banner { height: 410px; }
    #banner video { height: 410px; }
    #categorias .mobile { max-width: 180px; margin: 0 auto; }
    #categorias .mobile .owl-nav  button { margin: 0px !important; border: 1px solid var(--laranja); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button span { padding: 0px 22px; font-size: 65px; color: var(--laranja); background: rgba(256, 256, 256, 0.8); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
    #categorias .mobile .owl-nav  button.owl-prev { position: absolute; top: 30%; left: -64px; }
    #categorias .mobile .owl-nav  button.owl-next { position: absolute; top: 30%; right: -64px; }
    #plataforma { margin-top: -105px; padding:  130px 0px 190px 0px; background: url('../img/bg-plataforma-sm-02.jpg') no-repeat top center / cover; }
    #plataforma .box .titulo h4 { line-height: 30px; }
    #vantagens .titulo h4 { line-height: 30px; }
    #vantagens .titulo .bkgnd { width: 200px; margin: -145px auto 0 auto; }
    #vantagens .box .vs-01 { width: 100%; height: clamp(25rem, 17.1569rem + 39.2157vw, 31.25rem); background: url('../img/vantagens/vs-01-esm.png') no-repeat bottom right / contain; }
    #vantagens .box .vs-01 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-02 { width: 100%; height: clamp(25rem, 19.1176rem + 29.4118vw, 29.6875rem); background: url('../img/vantagens/vs-02-esm.png') no-repeat bottom left / contain; }
    #vantagens .box .vs-02 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-03 { width: 100%; height: clamp(25rem, 19.1176rem + 29.4118vw, 29.6875rem); background: url('../img/vantagens/vs-03-esm.png') no-repeat bottom right / contain; }
    #vantagens .box .vs-03 .caixa { position: relative; top: 0px; }
    #vantagens .box .vs-04 { width: 100%; height: clamp(25rem, 19.1176rem + 29.4118vw, 29.6875rem); background: url('../img/vantagens/vs-04-esm.png') no-repeat bottom left / contain; }
    #vantagens .box .vs-04 .caixa { position: relative; top: 0px; }

    #vantagens .financiamento { height: auto; background: none; }
    #vantagens .financiamento .icone { position: absolute; top: 0px; left: 230px; }
    #vantagens .financiamento svg { width: 60px; height: 60px; }
    #vantagens .financiamento .imagens { width: 100%; }
    .bgDuplo { height: auto; position: relative; background: none; }
    #integrador { width: 100%; height: clamp(34.5625rem, 21.9342rem + 35.0785vw, 38.75rem); background: url('../img/bg-integrador-parceiros-esm.png') no-repeat top center / cover; }
    #integrador .titulo h4 { line-height: 30px; }
    #parceiros .titulo h4 { line-height: 30px; }
    #parceiros hr { width: 75%; }
    #parceiros .imagem img { max-width: 100% !important; }
    #rodape .logoRodape { text-align: center; }
    #rodape ul { width: 100%; }

    #contato .endereco { margin-top: 50px; }
    #contato .endereco .imagem { text-align: center; }
    #contato .endereco .texto { text-align: center; }

    #produtos { height: auto; background: none; }
    #produtos .categorias { width: 40%; top: 100px; }
    #marcas { padding-top: 30px; }
    #marcas .parceiros { display: block !important; }
    #marcas .parceiros .imagem { text-align: center; }
    #marcas .parceiros .imagem img { margin-bottom: 50px; }
    
    #marcas .corpo .lg-item-10 { margin-left: 0%; }
    #marcas .corpo .sm-item-11 { margin-left: 0%; }
    
    #confira .categoria { display: block !important; }
    #confira .categoria i { display: none; }
    #confira .categoria a { width: 50%; margin: 15px 0px; float: left; text-align: center; }

    #franquias .listaFranquias { height: 600px !important; }
    #btnWhatsApp { bottom: 10px; }
}